[2014-07-03 13:30] tdhite opened #3 "Match counting and String support"
Seeking to add match count function and support for strings as opposed to merely files.

[2014-07-03 15:40] #3 closed, assigned to nobody

[2015-01-02 22:27] dekimsey opened #7 "unable to create node, noop"
The example in the readme does not seem to work. The module fails without output. I've looked through the test cases and haven't found this case. I don't believe the autovivification behaivor is working as intended.

I had to hack in RHEL5/Python 2.4 support, so it is possible that is an issue. There is a branch that shows the fix for that.

[2015-04-06 14:54] Jonnymcc opened #11 "Call to abort missing argument"
https://github.com/RHInception/ansible-xml/blob/cf05e35c8be4e3857e86b78f7f5c3848eb6988bf/library/xml#L194

should be

`abort("Xpath " + xpath + " does not reference a node!", module)`

[2015-04-29 04:58] Lx opened #12 "returns "changed" when no change made"
Given XML in `file.xml`:

[code]

the following Ansible task:

[code]

always returns as `changed`, even when no change was made, resulting in handlers being triggered when not necessary.

[2015-05-01 10:55] Lx opened #13 ""~username" in "file" not expanded"
Given a call like this:

[code]

the following error occurs:

[code]

even though built-in Ansible modules correctly expand `~user` to the correct thing (which may not necessarily be `/home/user`).

[2015-05-02 02:05] Lx commented on #13
I see that this issue is addressed by pending pull request #10.

[2015-05-02 02:13] Lx opened #14 ""TypeError: Argument 'element' has incorrect type (expected lxml.etree._Element, got _ElementStringResult)" when trying to retrieve attribute value"
I'm using the following Ansible task in an attempt to retrieve a value from a remote-side XML file:

[code]

The task fails with this output:

[code]

I may be doing it wrong as there's no explicit documentation at this time for retrieving actual values (as opposed to counts).  Is this operation supported?

I would guess that the OpenSSH output in the module error output is a module bug, since no

[2015-05-02 02:41] Lx commented on #14
(I've referenced this issue from a [GitHub Gist for an XML lookup plug-in](https://gist.github.com/benbramley/df51c2548ff8ceeafa5b).)

[2015-05-02 03:41] Lx opened #15 ""Xpath /settings/setting[@id="setting.key"]/@value does not reference a node!" when trying to set an attribute value"
Give this Ansible task:

[code]

and this remote XML file:

[code]

I get this error:

[code]

The documentation (through showing how to remove an attribute) suggests that I should be able to alter an attribute's value.  Am I doing something wrong?

[2015-05-03 05:37] cmprescott commented on #13
I wouldn't hold your breath for them to merge in my PR. This project seems to be dead. If you need a workaround you can do something like `{{ path | expanduser }}`. More details on http://docs.ansible.com/playbooks_filters.html

[2015-05-03 06:15] Lx commented on #13
Thanks for this workaround—much tidier than mine, which involved `register`-ing a `shell` call to `echo ~user`.

I hope development picks up again, because there doesn't seem to be another robust solution at this time for reading and writing XML from Ansible tasks.

[2015-05-03 06:26] cmprescott commented on #12
+1 I noticed this too. I was going to put together a PR, but didn't seem worth it until interest in repo picks up again.

PS @Lx  --- I read something on SO about how to get the eye of dead github repo's. However, I think that was back when you could message people on stack overflow. But anyways if anyone with write access is reading this. I would be happy to take over this repo.

[2015-05-03 06:48] Lx commented on #12
@tbielawa and @relaxnow (the two main contributors to this repository) have both pushed commits to other GitHub projects in the past week, so they may be able to give you an answer on whether or not transfer of ownership would be permissible.

Even if not, I'd be happy to run off any fork that addresses the issues I've raised here (#12, #13, #14, #15).

[2015-05-04 00:07] Lx commented on #13
Caveat for anyone else following: templates are rendered locally, so `expanduser` operates on data from the **local** machine, not the remote machine.  To retrieve a home directory path for an arbitrary user on the remote machine, I'm back to doing this:

[code]

[2015-05-04 01:42] tbielawa commented on #13
We're going to make an announcement about our livelihood very soon :-)
On May 3, 2015 1:37 AM, "Chris Prescott" <notifications@github.com> wrote:

[2015-05-04 03:45] tbielawa commented on #12
Oh hi folks. We're looking pass this on. If someone wanted to own the task of fixing up the module and taking ownership going forward that'd be great. Bonus points if you can work it into the ansible-modules-extra proper repo. I'll come back tomorrow and write up a more formal idea of what I'm talking about!

Thanks @Lx and @cmprescott for getting my attention on this.

[2015-05-04 16:31] tbielawa commented on #13
Closed when #10 was merged

[2015-05-04 16:31] #13 closed

[2015-05-04 16:49] tbielawa opened #16 "ansible-xml needs new care takers"
Ping to relevant contributors:

* @lx
* @cmprescott
* @relaxnow
* @dekimsey

Thanks to everyone for showing their interest in this module! The response we've gotten since we first published the (very rough and very incomplete) first version has been more than I ever anticipated.

Sadly, the original maintainers no longer have the time required to give this project the attention it now requires. Th

[2015-05-04 16:51] tbielawa commented on #12
@lx @cmprescott please take a minute to review #16 (ansible-xml needs new care takers) if you can

:)

[2015-05-05 00:45] Lx commented on #16
@cmprescott, I understand from [your comment in issue #12](https://github.com/RHInception/ansible-xml/issues/12#issuecomment-98441506) that you're definitely interested in taking ownership of this project.

No contest from me; I can't commit at this time to any regular maintenance.

[2015-05-05 11:53] cmprescott commented on #16
I'd love to take it over with the ultimate goal of getting it merged into [ansible-modules-extras](https://github.com/ansible/ansible-modules-extras). I'm in a position where I'd have a few hours a week to devote to the project. I'd be happy to share the responsibilities with anyone else who would like it though.

Thanks,
Chris

[2015-05-05 19:05] tbielawa commented on #16
Well that was easy

@cmprescott I'm going to transfer ownership over to you now.

[2015-05-05 19:09] tbielawa commented on #16
GitHub told me I can only transfer from an org to myself at this time. I am doing that now.

    Moving repository to tbielawa/ansible-xml. This may take a few minutes...

Once that is complete I'll try transferring to @cmprescott again. You will receive an email from GitHub allowing you to accept to decline the transfer.

Additional information about transfers is available on this page: https://h

[2015-05-05 19:10] tbielawa commented on #16
@cmprescott done

    Repository transfer to cmprescott requested

[2015-05-06 10:05] relaxnow commented on #16
I see that the move was successful. Nice.
FYI: I donated some time to this module because I needed this for a project, but don't work on this actively anymore and don't foresee using it in the near future.
Wishing @cmprescott happy hacking :smile:

[2015-05-06 14:26] #16 closed

[2015-05-18 07:00] jdatx commented on #14
I've also not gotten this to work either

[2015-05-19 21:42] cmprescott commented on #11
Fixed in 89f3bca.

[2015-05-19 21:42] #11 closed

[2015-05-19 23:09] cmprescott commented on #12
@Lx Do you mind testing https://github.com/cmprescott/ansible-xml/tree/feature/%2312_Idempotent to see if it fixes this issue in your use case? It fixed mine, but I would like a second set of eyes on it.

[2015-05-20 13:11] Lx commented on #12
Works well for me on my setup.  Thanks!

[2015-05-20 14:00] cmprescott commented on #12
Awesome. I'm going to create a PR and merge in today.

[2015-05-26 14:12] #12 closed

[2015-06-05 22:10] codyro commented on #15
I'm also having the issue described above when trying to set a value for an attribute. After peaking at the code it doesn't seem to account for changing an attribute?

[2015-07-10 10:41] add1ct3dd commented on #15
Any solutions to this?

[2015-07-14 18:45] jgensler8 opened #20 "README example (removing attribute) does not work."
I am trying out the first example in the [Examples](https://github.com/cmprescott/ansible-xml#examples) section:

[code]

My error message:
[code]

[Here](https://github.com/cmprescott/ansible-xml/blob/master/library/xml#L157) is where I think it is failing.

There is a test file [Here](https://github.com/cmprescott/ansible-xml/blob/master/tests/test-remove-attribute.yml) but I haven't spent time

[2015-07-16 02:36] cmprescott commented on #20
What OS & Ansible version? I just tested on OS X with Ansible version 1.8.4, and the test passed.

[2015-07-16 09:23] Hubbitus commented on #15
I also come here with intention fill bug...
But it seems we misunderstood (and doc has not useful description and examples). I have looked at code and it intended to work in other way (on my mind used in question much more sane and I also understand and try it on that manner). So in current implementation it works for me if I pass separate attribute value like:
[code]
Please note few thing there:

[2015-07-17 13:36] jgensler8 commented on #20
CentOS 6.5
Ansible version 1.9.2
python-lxml  2.2.3-1.1.el6
Python 2.6.6

I have pulled commit 1f7d1c3717da1c592a878b89302695b91ca7fbef (from two days ago) and I still have the same problem.

Here is my playbook (running against another CentOS box in Vagrant)

[code]

[2015-07-17 14:45] cmprescott commented on #20
Thanks @jgensler8 I'll try to recreate this weekend.

[2015-08-17 14:59] yeroc opened #23 "No documentation on how to install this module."
It would be great to add a section to the README.md on how to install this module.  This may be obvious to experienced users of Ansible but not so much for more casual or new users...

[2015-08-18 21:59] cmprescott commented on #20
Sorry for long delay. I recreated it found out the issue.

lxml introduced `attrname` in 2.3 (http://lxml.de/3.1/changes-3.1.1.html#alpha1-2010-06-19). I'll make a note in the readme for minimum requirements.

Problem fixed itself after updating lxml doing the following
[code]

[2015-08-19 14:30] peterschen opened #24 "Module parameters are missing on target host"
This is my task:

[code]

This is what ansible executes on the target:

<pre>ansible-xml: Invoked with xpath= count=None set_children=None namespaces={} attribute=None pretty_print=False add_children=None value=None ensure=absent file=/opt/apps/jboss/standalone/configuration/standalone.xml print_match=None xmlstring=None</pre>

Note that `xpath` is missing so the call is pretty useless.

[2015-08-19 14:34] cmprescott commented on #24
I believe the **-** in `/server/profile/subsystem/datasources/datasource[@pool-name=ExampleDS]` needs to be escaped. See http://stackoverflow.com/questions/11301650/how-to-escape-indicator-characters-i-e-or-in-yaml

[2015-08-19 14:50] cmprescott commented on #23
That's a good idea. I figured out how to do it through http://docs.ansible.com/ansible/playbooks_roles.html#embedding-modules-in-roles . Is that clear enough for what you were thinking or were you thinking of specifically for this module?

[2015-08-19 15:20] peterschen commented on #24
Thanks for your answer. It's just a display problem of ansible. Due to the equal sign the whole parameter is not logged to the syslog. I was suspecting that the whole module was not executed but I was able to narrow that down to problems with the XML namespaces.

[2015-08-19 15:20] #24 closed

[2015-08-19 16:59] yeroc commented on #23
I ended up putting it in the top-level `library` directory (which likely makes the most sense for users that would typically use this in multiple roles) following the [best-practices layout](http://docs.ansible.com/ansible/playbooks_best_practices.html#directory-layout) but it took me some googling to get there as I didn't realize that module installation was documented there, and even that isn't

[2015-08-19 18:07] cmprescott commented on #23
At first, I did the same you did. However, I ran into problems with getting the module working with `library/ansible-xml/library`. They may have corrected module scanning issues since I tried that.

The way I use modules is I place them in the `roles` directory.
[code]

[2015-08-19 19:42] yeroc commented on #23
I can confirm the above worked with `ansible 1.9.1`.  I didn't get very far with using this module though as I couldn't figure out how to do some fairly straightforward manipulations so ended up taking a different approach.

[2015-08-26 13:27] Jonnymcc commented on #23
Consider uploading this to Ansible Galaxy and letting it be installed with the ansible-galaxy tool? We put our custom modules in ansible/playbooks/library, no need to include the module as a role.

[2015-08-26 13:40] Jonnymcc commented on #20
Is this still an issue? The test works for me. Along with updating the readme about the new requirement this comment should also be removed https://github.com/cmprescott/ansible-xml/blob/master/tests/test.yml#L15.

[2015-08-28 13:58] bamartos opened #26 "Add xml module in Ansible-Galaxy"
Hi,

I know that is not really an issue, mostly a future request. Is there any plan of adding the xml module in the Ansible Galaxy?

Thank you for this nice module,

Cheers,

Vasilis

[2015-08-30 21:39] jgensler8 commented on #20
@cmprescott,

Installing the packages you have listed has solved the issue! Thank you!

One note, you may want to change the README in the project to reflect that installing lxml from pip rather than the OS's package manager is preferred.

:+1:

[2015-08-30 21:39] #20 closed

[2015-09-03 22:20] ErebusBat opened #27 "Problems with attributes"
I am attempting to write a playbook for Syncthing and use ansible-xml for managing the config file.

However I seem to be having issues when it comes to attributes.
I have the following task, which I would expect to set the `enabled` attribute to `yourmom` but it does nothing.

[code]

I know that `st_config` is correct, because this task works just fine:

[code]

I am also having trouble extracti

[2015-09-08 12:45] cmprescott commented on #26
After resolving the latest triage of bugs, I'll prep the role for the Ansible Galaxy. There seems to be multiple sporadic requests for this. Thanks for creating the issue.

[2015-09-08 14:54] cmprescott commented on #27
For the first issue, this sounds similar to https://github.com/cmprescott/ansible-xml/issues/15 . I've been pondering how to clear up the use of this feature by unit tests & the readme.

The register crash is more troubling. What version OS, ansible, lxml, & python are you using?

[2015-09-08 16:09] ErebusBat commented on #27
It does indeed appear to be similar to #15.  I was able to get my desired effect for the given xml:
[code]

with the given task:
[code]

Two things to notice here:
- The quoted `'true'`.  If I did not force this as a string then I would get a crash with the error: `TypeError: Argument must be bytes or unicode, got 'bool'`
- The attribute name is not referenced in the xpath expression.

I was able

[2015-09-08 16:24] ErebusBat opened #29 "Crash when attempting to `register:` XML facts"
Split from #27.

I am attempting to register some facts from a SyncThing configuration XML file.

[code]

Will crash the playbook with:

[code]

Interestingly enough, if I add a `count: true` statement then it will not crash; however I am not looking for aggregate data.
## Versions

Ubuntu 14.04 LTS (fresh vagrant image)
python-lxml 3.3.3-1
python 2.7.6

[2015-09-08 16:24] ErebusBat commented on #27
Opened a separate issue for the register problem.

[2015-09-08 16:24] #27 closed

[2015-09-11 14:48] mihai-satmarean opened #30 "feature request - transfer values to variable"
The module works great on  our xml file.
Could we use this module to get some values from the xml and use them in playbooks?
Thank you!

[2015-09-28 18:54] markkasun commented on #7
Is there a work around to add a node if it does not exist but do nothing if it already exists?

[2015-10-06 21:49] h0nIg commented on #30
+1. we want to duplicate existing xml elements but we are unable to get the element. therefore we need to get / register the value of element

[2015-10-07 21:31] h0nIg commented on #30
see https://github.com/cmprescott/ansible-xml/pull/34

[2015-10-08 12:14] mihai-satmarean commented on #30
HI,

Does this means that we can read the values?
If yes please place a small example.

Thank you!

2015-10-07 23:31 GMT+02:00 Hans-Joachim Kliemeck <notifications@github.com>:

[2015-10-08 21:06] h0nIg commented on #30
i rewrote the pull request and added tests/examples

[2015-10-08 21:09] h0nIg commented on #30
i rewrote the pull request to output dict instead of plain string (same format like set_children/add_children) and added tests/examples

[2015-10-10 21:46] sgiebels opened #35 "function request: ensure element present (only add when it does not already exist)"
I've been trying to edit xfce4-keyboard-shortcuts.xml to add some shortcut keys, but I've translated my question/problem back to the 'ansible-xml-beers.xml' examples you have provided with ansible-xml to ease the discussion.

original ansible-xml-beers.xml:
[code]
I want to add a beer next to the existing beer elements in the <beers> node, e.g.:  `<beer>Heineken</beer>`, but only if it is not alre

[2015-10-17 23:36] h0nIg commented on #30
examples:

[code]

[2015-10-22 08:02] mihai-satmarean commented on #30
Awesome! Thank you!

2015-10-18 1:36 GMT+02:00 Hans-Joachim Kliemeck <notifications@github.com>:

[2015-10-29 14:02] #30 closed

[2015-10-29 14:15] cmprescott commented on #35
Hey, sorry taking so long to take a look at this.

What version did you try this with? I think I addressed this issue in https://github.com/cmprescott/ansible-xml/commit/b17360059ec338ed4e53a4336ff7415d2a1bfde2

It's in the current master. Do you mind updating and trying again?

[2015-11-08 00:59] situokko commented on #23
Same issue for me, this was the first 3rd party module I use. It took me quite I while to figure out how it is installed.

Please add both of these ways to README. Thank you!

[2015-11-08 02:20] tbielawa commented on #23
At the very least, we should link to official upstream documentation, if it
exists
On Nov 7, 2015 7:59 PM, "situokko" <notifications@github.com> wrote:

[2015-11-19 15:06] neingeist commented on #35
I have the same issue using `add_children`. Test case is here:

https://github.com/neingeist/ansible-xml/commit/e4216277d25f5c4f16c4b405505e3f50e4d72ba8

[2015-11-23 19:06] #23 closed

[2015-11-23 19:07] #26 closed

[2015-11-25 16:42] psi-4ward opened #37 "Xpath does not reference a node!"
config.xml

[code]

Task

[code]

Error:

[code]

I would expect a new Node `<blaaa>pete</blaaa>` would be generated.

[2015-11-25 16:44] psi-4ward commented on #37
The problem does NOT exist with v.0.3.0

[2015-11-27 15:02] hudecof commented on #37
The same with verzion 0.3.1 when tryiing to add property

failed: [xxx.uuu.zzz] => {"failed": true}
msg: Xpath /Server/Service/Connector/@proxyName does not reference a node!

[2015-11-27 15:12] hudecof commented on #37
Tho sone works, but there is no word about attribute keyword. Needed to read the source.

  xml:
    file: conf/server.xml"
    xpath: /Server/Service/Connector
    attribute: proxyNName
    ensure: present
    value: xxx.uuu.zzz

[2015-11-30 16:23] simonpie opened #39 "Cannot add (or count) children without a namespace in a namespace xml."
Hello,
In order to patch WSO2, I need to add a child to an element that has no namespace but whose parent has a namespace.  The following code  works perfectly with a standard xml (example file from ansible-xml) and creates a leaf `testtest` with content `blabla`:

[code]

Whilst the following code does not work on the same file (namespace version)

[code]

This last snippet will add a `poom` chil

[2015-11-30 16:27] simonpie opened #40 "function request : add comment, or comment a block."
It would be very useful to be able to add a child comment to xml or to be able to comment a full element as xml :
For example adding
``
or commenting an existing child :
`<Pattern>wso2</Pattern>`
becomes
``

[2015-11-30 18:05] simonpie commented on #39
Found it, I have to use a local access operator in my xpath ;
[code]
May I humbly suggest adding an example with that case for beginners ?

[2015-12-04 09:10] avra911 opened #41 "Strip/encoding tags issue"
Hi,

While trying to save the value with `value="<![CDATA[{{ mysql_db_password }}]]>"`, the module is encoding the tags with `&lt;![CDATA[...]]&gt;`.

Is there any way to allow such tags?

Thanks,
Razvan

[2015-12-11 17:23] mattfirtion opened #42 "add_children is not idempotent"
When running a task to add a child element, the child element is added on each execution.

[code]

[code]

[2015-12-11 22:56] tbielawa commented on #42
That could be interpreted as expected behavior. Ansible knows not of your true intentions, nor of your XML Schema (which may state that only one instance of any element type may be a child in a given scope). It only knows that you said to add a child element to a parent.

I understand your frustration with this. There's no clear and obvious way to add a child element if it doesn't already exist.

[2015-12-23 15:21] mputilin opened #43 "Using your module for lookups"
I need to get `id` for `username`=jenkins`and privateKeySource`=class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$UsersPrivateKeySource" and  from an XML file. Can I do that using your module? How?

[code]

[2015-12-25 17:09] mputilin commented on #43
ok. I have xpath that output correct `id` using `xmllint --xpath` can I use your module to set it to variable?

[2016-01-11 12:46] mputilin commented on #7
having the same issue. any fixes?

[2016-01-14 21:50] cmprescott commented on #42
I concur with @tbielawa; definitely an interesting issue. You are correct that `add_children` is not idempotent. However, it's counterintuitive having a command with the word "add"  be idempotent.

I think the best way to handle this scenario is at the playbook level and use `add_children` conditionally. Depending on your need, sometimes it would make sense to use `set_children` in place of `add_c

[2016-01-14 21:50] #42 closed

[2016-01-14 21:54] cmprescott commented on #35
My thoughts in https://github.com/cmprescott/ansible-xml/issues/42

[2016-01-14 21:54] #35 closed

[2016-01-14 21:59] cmprescott commented on #7
I'll use this as the issue to track adding documentation to clear this up. Also see issues https://github.com/cmprescott/ansible-xml/issues/42 & https://github.com/cmprescott/ansible-xml/issues/35

[2016-01-14 22:02] cmprescott commented on #15
I'll use this issue to track updating the documentation's clarity concerning this.

[2016-01-14 22:06] cmprescott commented on #39
For my reference when updating documentation
![image](https://cloud.githubusercontent.com/assets/4502791/12339111/2cfb8916-bae1-11e5-816d-feb3e5e1d8d6.png)

[2016-01-26 20:49] slavafomin opened #44 "ERROR! 'version' is not a valid attribute for a RoleMetadata"
Hello!

Thank you for this great module!

However, I'm trying to use it with `ansible 2.0.0.2` and getting the following error:

[code]

Looks like metadata file has incorrect structure according to the latest Ansible requirements.

I've removed `version` field from the `/etc/ansible/roles/cmprescott.xml/meta/main.yml` file on my local machine and it helped.

Could you please fix this in the repo?

[2016-01-26 21:26] slavafomin commented on #37
Thanks @hudecof you've saved my day!

[2016-01-27 21:33] cmprescott commented on #44
This is my top priority as it blocks CI from checking PRs.

Hopefully less than 24 hour turnaround. Thank you for reporting!

[2016-01-27 22:52] #44 closed

[2016-01-27 23:26] cmprescott commented on #41
If you're feeling ambitious, you can test out modifying the code `etree.XMLParser(strip_cdata=False)` form http://lxml.de/api.html#cdata

[2016-02-04 09:59] Sparcks opened #47 "How to edit multiple attributes with same name and same tag at once?"
Hi

I'm stuck on a little problem and don't see this in the readme documentation.
I want to change all attributes of a certain list of tags, example:
[code]

So in this example, I want to change the _address_ attributes of the _socket_ tags.
I had following yaml code, but it doesn't seem to work:
[code]

Can someone help me with this?
Thanks in advance!

[2016-02-04 10:27] Sparcks commented on #47
Here is the error I get:
fatal: [192.168.56.102]: FAILED! => {"failed": true, "reason": "ERROR! no action detected in task\n\nThe error appears to have been in '/home/ansible/ansible-playbooks/smartfox/smartfox_edit.yml': line 16, column 6, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offending line appears to be:\n\n#  tasks:\n   - name: Setting ip address for a

[2016-02-04 12:55] Sparcks commented on #47
Ok

Seems that Ansible didn't know here the extra modules were, so I added a path (ANSIBLE_LIBRARY) to .bash file.
I'm very new to the whole Ansible thing, so sorry for that.

[2016-02-04 12:55] #47 closed

[2016-02-04 19:51] danoyoung opened #48 "Question-Add a node"
I'm new to parsing XML, so I may have my terms conflated and not know what the hell I'm talking about.... But I have a xml file like this:
[code]
and I want to add a node, under the <configuration> parent, so I'll end up having:
[code]
Is that possible with this library?  and if so, any pointers/examples would be greatly `appreciated.`

[2016-02-05 15:44] cmprescott commented on #48
See the unit test for adding children https://github.com/cmprescott/ansible-xml/blob/master/tests/test-add-children-elements.yml
See xpath selecting nth item http://stackoverflow.com/a/4008925/618580

Playing with the unit tests is probably the easiest/quickest way to determine how you can accomplish your use case.

[2016-03-07 18:45] stevemendes opened #50 "Failure when 'file' not specified (while using xmlstring)"
in library/xml line 337:

    xml_file = os.path.expanduser(module.params['file'])

This fails when 'xmlstring' is used for input and no 'file' is specified.

[2016-03-18 14:03] ssbarnea opened #51 "ImportError: No module named lxml on OS X"
Please enable OS X tests on travis because it seems kinda impossible to make the xml module to work on it, even when this module is installed and I am running the task against localhost.

Have a look here on how to enable it, is two lines of code https://github.com/pycontribs/tendo/blob/master/.travis.yml

[2016-03-18 14:28] cmprescott commented on #51
I'll enable os x build this weekend. In the meantime, what unusable version are using? Did you install lxml with `pip install lxml`?

[2016-03-18 16:27] ssbarnea commented on #51
[code]

But there is something strange, executing the tests works on my machine but executing another very simple playbook fails complaining about the missing lxml.
[code]

[2016-03-18 20:53] tbielawa commented on #51
Osx can have weeeird library logic sometimes. Because you said one method works, but a full test doesn't, this may be related to how the specific python binary is called.

This may be an edge case if @ssbarnea has an unusual python package/library configuration. I know on my osx box i get issues because i have several different python versions installed.

Id double check the module writing docs fo

[2016-03-19 12:06] ssbarnea commented on #51
Here is the issue with OS X, because is too dangerous to do anything with the OS provided python, people are installing a local copy using brew, which resides in `/usr/local/bin/python2`. More than 9/10 people that use the command line on linux are doing this. On this machines running which python will return /usr/local/bin/python.

Assuming a hardcoded path for python interpreter is clearly a big

[2016-03-19 12:14] ssbarnea commented on #51
Here is a funny fact, it seems that on my machine
[code]
This tells me that ansible installer makes a decision to point there. Good part is that's a symlink to brew version of python, one identical with the one inside /usr/local/bin/python2.7.

So which was the module that had the wrong path in the shebang line?

[2016-03-19 15:30] tbielawa commented on #51
@ssbarnea thank you for confirming that using ``/usr/bin/python`` you get an error trying to ``import lxml``. @ssbarnea I have a request for you. Please try this again using the path to the python binary that you found in ``ansible-playbook``.

[code]

If that succeeds, then see what happens if you do this:

[code]

If those fail, I advise you attempt to install lxml using the package manager that

[2016-03-20 13:01] ssbarnea commented on #51
I was able to bypass the problem by adding this to the playbook:
[code]
As you can guess, this will tell ansible to use python2 executable from PATH, which will solve the missing `lxml` issue. It seems to be working fine on OS X and Linux too.

I am sure that this is not a problem of the `ansible-xml` module itself, but it seems that this one is affected  the most. Imagine that without this hack e

[2016-03-20 19:28] ssbarnea opened #52 "Get ansible-xml part of ansible core"
XML Module should become part of Ansible core as that's really something belonging to core. Lets use this ticket to track the progress on getting it part of Ansible core.

[2016-03-20 19:39] ssbarnea commented on #37
Interestengly, I reached the same bug. I was expecting that spacifying a xpath and `ensure: present` will create this path inside the xml document. Instead, I get the same error.

I don't need to do anything related to `attribute`, so I don't really see why to use them.

[2016-03-20 20:08] tbielawa commented on #52
:thumbsup:

[2016-03-31 12:53] xenexis opened #53 "Change values are failing , no error message, just not executed"
Hi all,

I was trying to use like :

../role/artifactory/defaults/main.yml has contain:

[code]

and the ../role/artifactory/task/configure.yml
- name:  Artifactory config | Add proxy settings to the config
  xml:
    file: /tmp/artifactory.config.xml
    xpath: /config/proxies/proxy
    add_children: "{{ artifactory_proxy }}"

The task finished with ok, but there is no change, and if the proxy el

[2016-04-01 16:24] dwest-lab49 opened #54 "Possible to just return the text?"
Hi,

When using the text content parameter is it possible to just return the text rather than the element, text pair?

[2016-04-04 18:47] dylanjw opened #55 "Receiving error adding a node, "does not reference a node""
Following the the README.md example:

My ansible task:

[code]

Target XML:

[code]

Expected modified XML:

[code]

Actual results:

[code]

[2016-04-08 08:57] liquidat opened #56 "Upstream?"
Hej hej, have you thought about incorporating the module with Ansible upstream? It would be a great place to bring it more attention and to improve it further on.

[2016-04-10 11:16] juhoffma opened #57 "Error using namespaces"
I have the following XML Document from which I am trying to replace the user-name and password elements of a specific section. This is my source XML File
[code]

and this is my task configuration within ansible

in vars I defined:
[code]

and the task is configured like:

[code]

But when I try to run the task I get:

[code]

which seems like an odd error to me

[2016-04-13 14:49] cmprescott commented on #56
Duplicate of #52

[2016-04-13 14:49] #56 closed

[2016-04-15 11:36] ssbarnea opened #58 "Unable to load XML content from ansible variable"
For example we may want to load the XML form an ansible variable instead of a file, probably after loading it using the `uri` module.

So far it seems that's not possible, or if it is it means that's not documented. Trying to workaround this by saving the variable inside a file would require too much work which will produce too hard to maintain playbooks.

[2016-04-15 11:54] ssbarnea opened #59 "Reading an attribute value into an ansible variable is not documented"
The documentation should include a code sample that loads an attribute value into an ansible variable. I may make sense to provide a simple example for reading the `charset` attribute from insite HTML page. `html>headers>meta>charset`. Maybe even specifying what happens if it is missing.

[2016-05-12 20:14] bmurtagh commented on #57
@juhoffma, I ran into this myself. What I found out reading [xml](https://github.com/cmprescott/ansible-xml/blob/master/library/xml#L45), was that I needed to pass in the namespaces as a map vs a list or an array.

An example from my vars/main.yml:

[code]

I then reference the ```xpath_namespaces``` variable as such:

[code]

[2016-05-13 06:45] martinboy commented on #50
Here is the detailed exception log
[code]

[2016-05-20 14:24] cmprescott commented on #59
That should definitely be included.

[2016-05-20 14:32] #50 closed

[2016-05-25 15:47] mss opened #63 "Setting an empty value fails with MODULE FAILURE"
This might be the same issue as #53 and maybe #7.

The XML:

[code]

This task works to set the value above:

[code]

But this fails:

[code]

Expected result:

[code]

Actual result:

[code]

This is version 0.3.1 if I'm not mistaken (whatever was current on galaxy today).

[2016-05-29 19:59] tonydoval opened #64 "Errors with ansible 2.1"
I'' getting errors like:
With ansible 2.1
al: [desa-wl12c-1.edisa.com]: FAILED! => {"changed": false, "failed": true, "module_stderFile \"/tmp/ansible_wnslMv/ansible_module_xml.py\", line 424, in <module>\r\n    main()\r\n main\r\n    get_element_text(x, xpath, namespaces, module)\r\n  File \"/tmp/ansible_wnslMv/at is_node(tree, xpath, namespaces):\r\n  File \"/tmp/ansible_wnslMv/ansible_module_xm

[2016-05-30 12:31] mss commented on #64
Same here.

With version 2.0.0.2 (Ubuntu 16.04):

[code]

With version 2.1.0.0 (PPA):

[code]
The tasks:

[code]
And vars:
[code]

There are actually more than a single var, I stripped it down. Also, it seems like it fails on *some* hosts and works on others which is especially puzzling.

[2016-05-30 12:53] mss commented on #64
The patch from @h0nIg's branch which was 72864f at some point but got rebased by now fixes the issue for me.

@h0nIg maybe you could create an extra branch and pull request just for this issue?

[2016-05-30 13:10] h0nIg commented on #64
just checkout https://github.com/cmprescott/ansible-xml/pull/65/commits/38b84e1f736c44e411ed947ae622a91752337c58

[2016-05-30 13:22] mss commented on #63
Hmm… was this maybe fixed with #60?

[2016-05-30 13:25] mss commented on #64
I hope @cmprescott is more likely to merge your fix if it is submitted as a separate pull request instead of a `devel_misc` branch.

[2016-05-31 10:57] mss commented on #55
I've got a similar issue here, maybe it is cause by the nodes having attributes and the quoted `mkdir -p` like behaviour works for simple trees only?

A stripped down example:

Task:
[code]
Vars:
[code]

XML:
[code]
Result:
[code]

[2016-05-31 14:34] cmprescott commented on #64
@mss - you read my mind.

@h0nIg - Do you mind separating out the fix from the new features?

[2016-06-01 16:15] mss commented on #64
I cherry picked the fix into #66.

[2016-06-01 16:51] #64 closed

[2016-06-03 17:10] charles-d-burton opened #67 "Question"
Say you have an XML like this:

`<domain>
   <configs >
     <config name="server">
       <java-config>
         <jvm-options>Some option</jvm-options>
       </java-config>
     </config>
     <config name="something">
       <java-config>
         <jvm-options>another option</jvm-options>
       </java-config>
      </config>
   </configs>
</domain>`

How do I get the module to only modify the

[2016-06-03 17:55] charles-d-burton commented on #67
I figured it out.  Just had to grab the tag.

/domain/configs/config[@name = 'server-config']/java-config

[2016-06-03 17:55] #67 closed

[2016-06-06 11:52] ssbarnea commented on #52
Here is the Feature request made on Ansible https://github.com/ansible/ansible/issues/16147 -- add your feedback and/or up-thumbs there.

[2016-06-15 10:24] wheelq opened #68 "Removing value results in MODULE FAILURE"
[code]

results in:
[code]

[2016-06-15 10:25] wheelq commented on #59
is it possible to read the value? what is the attribute?

[2016-06-15 18:38] kenthua commented on #59
Looks like it's [https://github.com/cmprescott/ansible-xml/blob/master/library/xml#L31](from the source)

[2016-06-21 12:33] ncostis opened #69 "noobie question"
Since i come from chef env to ansible i have hard time to figure out the extras module.
I need the xml module but how i i install/use it?
I have downloaded it and extract it to the ansible machine that runs ver 1.9.6.
Now?

[2016-06-21 18:51] Hubbitus opened #70 "pretty_print for attributes"
Hello.

I have tomcat context file which looks like:

[code]

I want change their attributes, but do not loose formatting. Is it possible?

My playbook similar to (simplified):

[code]

And result in one string:

[code]

I understand what it is `Resource` tag with many attributes and no child elements. It there any possibility preserve formatting similar to initial state?

[2016-06-29 11:32] tonydoval opened #72 "Dict elements not supported on add_children"
Hello,

Dict elements not supported on add_children

With a task like:
  - name: Create environment
    xml:
      namespaces:
        reports: http://xmlns.oracle.com/reports/server
      file: '{{ rwserver_conf }}'
      xpath: /reports:server
      pretty_print: true
      add_children:
        - environment:
            id: '{{ item.value.nombre }}'
      with_dict: '{{ entornos }}'

Variable:

[2016-07-05 22:13] cmprescott commented on #69
Please see https://github.com/cmprescott/ansible-xml#installation and the links therein.

[2016-07-05 22:13] #69 closed

[2016-07-05 23:23] tbielawa commented on #52
*nudge*

[2016-07-05 23:25] cmprescott commented on #52
@tbielawa thanks! Works been crazy lately, but I'll try to make time for this. It's long long overdue. I don't want to answer questions how to install it forever...

[2016-07-07 00:47] cmprescott commented on #58
Released in 0.3.4

[2016-07-07 00:47] #58 closed

[2016-07-07 00:49] cmprescott commented on #54
Released in 0.3.4

[2016-07-07 00:49] #54 closed

[2016-07-07 00:49] cmprescott commented on #72
released in 0.3.4

[2016-07-07 00:49] #72 closed

[2016-07-07 00:57] #48 closed

[2016-07-07 00:57] #57 closed

[2016-07-07 01:22] cmprescott commented on #52
https://github.com/ansible/ansible-modules-core/pull/4122

[2016-07-08 01:05] cmprescott opened #73 "Update from GPLv2 to GPLv3"
See https://github.com/ansible/ansible-modules-core/pull/4122#discussion_r69841038

From my understanding the project needs permission from original maintainers ( @tbielawa & @github_rhinception ) to change the license.

@tbielawa do you grant permission or know how I can ping to get permission?

[2016-07-08 01:08] cmprescott opened #74 "Update in code documentation"
See
https://github.com/ansible/ansible-modules-core/pull/4122#discussion-diff-69840959
https://github.com/ansible/ansible-modules-core/pull/4122#discussion-diff-69841138
https://github.com/ansible/ansible-modules-core/pull/4122#discussion-diff-69841295
https://github.com/ansible/ansible-modules-core/pull/4122#discussion_r69841679
https://github.com/ansible/ansible-modules-core/pull/4122#discussion

[2016-07-08 01:11] cmprescott opened #75 "Update Python style"
See
https://github.com/ansible/ansible-modules-core/pull/4122#discussion-diff-69841931
https://github.com/ansible/ansible-modules-core/pull/4122#discussion_r69841931
https://github.com/ansible/ansible-modules-core/pull/4122#discussion_r69842054
https://github.com/ansible/ansible-modules-core/pull/4122#discussion-diff-69842304
https://github.com/ansible/ansible-modules-core/pull/4122#discussion_r69

[2016-07-12 08:00] dwest-lab49 commented on #54
@cmprescott thank you

[2016-07-29 19:22] dreamcat4 commented on #55
+1

[2016-08-08 10:29] datnt11 opened #77 "Xpath Axes with ansible-xml"
Hi everyone,
I am newbie in ansible programing. I would like to know there are any way to use xpath axes with ansible-xml.

About XPath Axes http://www.w3schools.com/xsl/xpath_axes.asp

XML
[code]
TASK

[code]
EXPECT RESULT
exact_poolname = IP-POOL

[2016-08-09 07:21] #77 closed

[2016-08-17 20:45] Ponyboy47 opened #78 "Wrong version in spec file"
The spec file states that it is on version 0.3.1, but the releases section is on section 0.3.4

I know this isn't a huge deal, but I am building this package using the spec file and I want to verify that the spec file is up to date with the latest requirements, version, etc for this package.

[2016-09-15 08:51] suchkultur opened #80 "Test fail: Result xml has parameters in reverse order"
On my local machine i get this:

[code]

When i manually do the diff is see this:

[code]

On the other hand the TravisCI badge says, that the build passes. The test fails with the tests in release download `0.3.4` and  b9ec0755560b86d3384ca6f380e96c478bbb7e03 (current master).

---

Ansible version: `ansible 2.1.1.0`
Using python: `2.7.11`

[2016-09-28 10:25] pigulla commented on #63
This is still broken :-(

[2016-10-01 19:51] j4m3s opened #81 ""implicit parent-node creation behavior" is broken"
[Line 132 of the Readme](https://github.com/cmprescott/ansible-xml/blame/b9ec0755560b86d3384ca6f380e96c478bbb7e03/README.md#L132) says that the you can set a node's value and parent nodes will be implicitly created.  This makes a lot of sense and avoids a mass of conditional checks to ensure parent nodes exist (and adding them if they don't).  However it looks like this functionality is broken.

G

[2016-10-11 10:15] nexusvista commented on #39
I tested with a namespaced xml file and it seems that I must explicitly list what the namespace is in the namespace argument, otherwise it will complaint either xpath does not reference a node! or lxml.etree.XPathEvalError: Undefined namespace prefix.

[2016-10-14 12:04] hdimitriou commented on #59
The xmlstring is inaccurate:

[code]

[2016-10-25 16:19] cmprescott commented on #78
Accepted PR and re-imported to ansible galaxy.

[2016-10-25 16:19] #78 closed

[2016-10-28 07:18] bdgscotland opened #83 "Doesn't work with Oracle WebLogic config.xml"
Seems to say that Xpath does not reference a node.
Doesn't seem to be able to handle the lengthy <domain> opening tag.

[2016-11-03 13:59] deyanstoykov opened #84 "Spaces between elements breaks pretty_print"
When using input_type=xml and having a space between elements, pretty_print doesn't work.
Steps to reproduce:

[code]

[2016-11-15 19:43] macdiesel opened #86 "Update License to LGPLv3"
Would it be possible to update the license for ansible-xml? I am working on some code for a project at edX and we would like to use this but are unable to because GPL v2 is incompatible with our AGPL v3 licensed learning platform.  To gain compliance ansible-xml could be licensed under any number of schemas, but moving to LGPL v3 or MIT may be easiest.

I would be willing to do whatever work neces

[2016-11-15 22:39] 66pontiac opened #87 "Setting Variables with xmlstring"
I am new to Ansible/Jinja, so this is probably a basic question.  This may not be the right forum, however it relates to use of the xml module.  I am using the Core URI module to make a REST API call to a network device & the xml module to parse the response as follows:

---
- name: Test PAN API
  hosts: fw
  connection: local
  gather_facts: False

  tasks:
  - name: Calling API System Info
    a

[2016-11-16 19:47] fogartyp commented on #83
Was able to parse to view values using this play.

This was 11g using Ansible 2.2
---
- hosts: all
  tasks:
    - name: Print Domain Name
      xml:
        file: "{{ weblogic_domain_path }}/config/config.xml"
        namespaces:
          dom: http://xmlns.oracle.com/weblogic/domain
        xpath: "/dom:domain/dom:name"
        content: 'text'

[2016-11-17 03:37] #87 closed

[2016-11-21 21:43] macdiesel commented on #86
@cmprescott What do you say? Want to help us teach the world?

[2016-11-23 11:49] dagwieers opened #89 "Adding diff support would help with debugging"
I have issues with adding or setting child elements in a complex multi-namespaced path.
It would be a lot easier if the module would return the difference before/after, even in check_mode.

[2016-11-23 11:59] dagwieers opened #90 "Exceptions cause stacktraces to be returned, not proper errors"
During testing, a lot of problems caused a stack-trace rather than a proper error message for end-users.

Examples:
- lxml.etree.XPathEvalError: Undefined namespace prefix
- lxml.etree.XPathEvalError: Invalid expression
- AttributeError: 'dict' object has no attribute encode

[2016-11-23 12:51] dagwieers opened #91 "Make xml idempotent"
Currently when you use set_children with the exact elements that were in place before (i.e. the content of the file was not changed) the xml module does report a change. So that's obviously wrong.

On top of that, I would expect the xml module to verify the content (and not formatting) with the previous version to establish it being changed. Currently it does not even do that.

BTW I will have to

[2016-11-23 20:31] cmprescott commented on #86
Currently trying to get approval to change license in https://github.com/cmprescott/ansible-xml/issues/73. I'm not the original author so we need @tbielawa to approve it. Please express interest for license change in the other ticket.

Thanks!

[2016-11-23 20:31] #86 closed

[2016-11-23 20:38] cmprescott commented on #80
I've seen this before. Keep an eye on your version of lxml; not just python & ansible. Travis explicitly upgrades to latest (& greatest?) lxml using

[code]

[2016-11-23 20:38] #80 closed

[2016-11-23 20:43] cmprescott commented on #51
Closing as won't fix. However, keep in mind I have a rainy day project to create an ansible-role-lxml. Hopefully, that solves a lot of the headaches associated with installing the dependency on the controller.

[2016-11-23 20:43] #51 closed

[2016-11-23 21:05] ssbarnea commented on #51
I am ok with this, meanwhile I changed jobs and I did not need this anymore.

I think that ideally `lxml` should become optional and `ansible-xml` should use a pure python xml library (maybe with fallbacks) in order to avoid all these issues.  I know that `lxml` is performant but I put more value on portability than speed, especially when it comes to Ansible.

Still, I am fully aware that I will n

[2016-11-28 14:03] dawez opened #93 "Support of loops ?"
Are loops supported ? For example I am trying to change the same attribute in multiple files. This example below is working when I process one file per time

[code]
Then I have this error appearing:
[code]

[2016-11-28 14:07] dagwieers commented on #93
Yes, I would be interested in the same functionality. So a single task could be used for modifying multiple configuration items in an XML configuration file.

[2016-11-28 15:52] tbielawa commented on #86
I'm fine with that change. I'm also open to dual licensing if that's of
interest to any one.

:+1:

On Wed, Nov 23, 2016 at 12:31 PM, Chris Prescott <notifications@github.com>
wrote:

--
--Tim Bielawa
https://blog.lnx.cx

[2016-11-28 21:14] macdiesel commented on #73
@cmprescott Looks like there is a response in #86 from Tim about updating the license.

[2016-11-29 16:26] tbielawa commented on #86
re: the inception team, no worries there either. :+1:

[2016-11-29 16:33] macdiesel commented on #86
Big thanks to all you guys, we really appreciate it!

[2016-11-29 17:05] dodok1 commented on #81
I think this is duplicate of #37

[2016-11-29 19:33] j4m3s commented on #81
The symptoms look the same, but the other issue is marked as an enhancement.  What I've called-out here is that the module doesn't function according to the readme, which implies it's a defect.

[2016-11-30 10:39] dagwieers opened #94 "Add a backup option"
Similar to the copy or template module, it would be nice to also have a backup option.

[2016-12-03 22:48] sradi opened #95 "Add hierarchy of xml elements from yaml structure"
Hi,

I am currently trying out ansible-xml. There's one thing, I couldn't get working:
I am referencing a variable from a yml file, which contains a list of items, that are added as xml elements to my target file. That's easy... Now I would like to reference a variable, which contains a list, where each item again contains a list. I expected, that I could add two levels of nested xml elements at o

[2017-01-17 18:15] shrabok-surge opened #96 "Registering value to var causes issues with namespace"
Hello,

I am trying to register a value found in a pom.xml file.
Here is an example of what I've done
[code]

when I look at the output I expected something I could leverage using filters but the domain format has `{}`braces that cant be called in ansible. Here is the output of the var:

[code]

If I use `"{{ jar_version.matches }}"` I can see the values but I want to use the sprint21 value somewh

[2017-01-20 09:19] liquidat commented on #52
Any news on this? I would like to help with the submission of the module upstream. Or if you do not want to pursue that anymore, I would like to for it here on Github and push it upstream, if you would be ok with it.

[2017-01-20 10:55] ssbarnea commented on #52
I do see this as a meta-ticket, there are quite a few bugs that do need to be fixed in order to do this.

I think it would be wise if we specify them here in order to see what blocks this ticket, it would be much easier to move things into the right direction.

[2017-01-24 13:43] MedicMomcilo commented on #41
Can we add feature request here to add ansible option for striping cdata?

This was a big surprise to have ansible change file when no changes were necessary.

[2017-01-30 16:30] rasputnik commented on #55
yeah, this is pretty fundamental. barely any of the examples work anymore.

[2017-01-31 09:48] rasputnik commented on #55
Actually I'm starting to wonder if this is related to ansible version.

I'm on 2.2.0.0, and I could've sworn this worked back last summer when we were still on 1.9.x.

[2017-01-31 12:22] Chris-YBS opened #99 "Question: Can you create a node with a value and children?"
For example:

\<enclosing\>
  \<newNode att="one"\>two\</newNode\>
\</enclosing\>
\</code\>
I can't see how to do this apart from creating a node and adding attributes seperately

[2017-01-31 16:58] rasputnik commented on #55
AH, hang on.

Very few of the tests passed until I manually updated python-lxml to > 2.3 , which to be fair is referenced in the readme. EL6 has an old lxml library so expect some issues until you do this.

Also my xml is rusty enough that I had missed the requirement to use namespaces correctly,
which was causing my xpath to miss nodes.

[2017-02-03 09:13] pigulla commented on #55
I'm seeng the same issue.

[code]

[2017-02-12 22:38] juju4 commented on #91
As a temporary workaround, you can use xmllint to check value
https://github.com/juju4/ansible-jenkins/blob/master/tasks/jenkins-ssh-auth.xml

[2017-02-12 22:39] juju4 commented on #99
In my own recent experience, create an empty node+attribute, and after children inside like
https://github.com/juju4/ansible-jenkins/blob/master/tasks/jenkins-ssh-auth.xml

[2017-02-13 20:02] rasputnik commented on #93
Don't you just need to fix your YAML?

with_items should be nested as deeply as the file: task, not as deep as its arguments.

[2017-02-16 21:40] #81 closed

[2017-02-16 21:50] #37 closed

[2017-02-20 06:16] sgudaval commented on #55
Any update on this issue? I am seeing the exact does not reference a node! error when using /@value in my XPath expressions as well.

[2017-02-21 13:36] stncrn opened #101 "Wrong insertion of yml object"
Hello, I am having troubles inserting a complete block in an xml file.

Let's consider I have this simplified XML :
[code]

I want to add another Item into it, as List child. So the XML should become :
[code]

So I used different web [XML2YML](http://codebeautify.org/xml-to-yaml) services to convert the addtionnal XML block to a YML object, all of them giving me the same result.
My playbook task i

[2017-03-08 17:34] stefanponik opened #102 "XML namespace issue"
Hi,

I have encounter issue with parser for XML when there is XML namespace while using xpath.

Removing namespace fix an issue and I can then set rest of the values with xpath.

**xmlns="http://java.sun.com/xml/ns/javaee"**

Original:

`<web-app xmlns="http://java.sun.com/xml/ns/javaee" metadata-complete="true" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.co

[2017-03-15 15:21] glzavert commented on #59
So it has been months since this issue was opened and identified as a bug.  What is the status of an example on how to load an attribute or element value into an ansible variable.  Examples with and with out namespaces are relevant as many users simply need to access the values and do not need to manipulate the XML.

I have spent many many days trying to do this and the closest I have gotten retur

[2017-03-16 11:52] dagwieers commented on #52
TBH I think we should get this merged ASAP in Ansible Core now that v2.3 has been branched. And then work on having integration tests, additional documentation and closing the existing PRs upstream to get this finished for v2.4 (which gives us 4 to 5 months probably).

[2017-03-16 12:30] ssbarnea commented on #52
I don't need this anymore for my job but I will help with getting the PR reviewed and merged by Ansible team. Indeed timing is essential here, we don't want to lose that window.

BTW, I hope there are no licensing issues, as these to have the bad habit of ruining things.

[2017-03-16 18:20] glzavert commented on #59
Ok, I finally figured it out.  However, the method I took is a kludge at best and a real set of methods and examples that a user can implement to read an attribute or element into a variable is needed.

The files I used are above but I modified my role/tasks as follows

---

- name: Get attributes from non-namespaced file
  xml:
    file: "/opt/IBM/install/tmp/PatchManifest.xml"
    xpath: /PatchM

[2017-03-16 18:54] liquidat commented on #52
Are there any possible license issues you have on your mind?Am 16.03.2017 1:30 nachm. schrieb Sorin Sbarnea <notifications@github.com>:I don't need this anymore for my job but I will help with getting the PR reviewed and merged by Ansible team. Indeed timing is essential here, we don't want to lose that window.
BTW, I hope there are no licensing issues, as these to have the bad habit of ruining th

[2017-03-23 00:29] ksylvan commented on #52
Any news on this?

[2017-03-23 00:38] ksylvan opened #103 "xml module does not play well with blockinfile"
Starting with this file in ~/foo.txt:

[code]

Running this line:
[code]

I end up with this file (looks like some newlines, related to the XML comment, are stripped out):

[code]

Expected output would be:

[code]

[2017-03-24 00:54] ksylvan commented on #53
I think I am seeing something very similar to this, trying to add a child `<profile>` to the `<profiles>` section of a Maven `settings.xml` file.

[2017-04-08 03:39] avatar4d commented on #55
+1

[2017-04-08 23:27] alxgomz opened #104 "Allow to set attributes"
It seems it is not possible at the moment the set element's attributes as the set_target function check if xpath is a node.
The goal would to set attributes like this:

[code]

That would be very useful i think.
If I missed something jus let me know.

[2017-05-02 13:48] ITler commented on #53
Explicitly use namespaces to get this working:

    xml:
      file: ...
      namespaces:
        set: http://maven.apache.org/SETTINGS/1.0.0
      xpath: /set:settings/set:profiles
      add_children:
        ...

[2017-05-09 17:01] DeanKamali opened #107 "Undefined namespace prefix\"
My XML begins with the following name space:
[code]

When I attempt to check the module to set the password:

[code]
I get an error

`failed: [localhost] (item=file-ds.xml) => {"failed": true, "item": "checkout/tmp/datasources/sql-ds.xml", "msg": "Xpath /data:sql-datasource causes a failure: Undefined namespace prefix`

[2017-05-09 18:22] DeanKamali commented on #107
I have read the source file and found out there is a namespaces option!

[code]

[2017-05-09 18:22] #107 closed

[2017-05-09 23:07] dagwieers commented on #103
I am wondering, could this be related to DOS vs Unix type newlines ?

[2017-05-09 23:33] dagwieers commented on #101
You can do it like this as an alternative:
[code]

[2017-05-09 23:52] dagwieers commented on #101
If you are happy with the examples, please close this issue.

[2017-05-09 23:53] dagwieers commented on #99
@Chris-YBS There are 2 examples in #101, one using YAML syntax, the other using XML syntax.

[2017-05-10 00:03] dagwieers commented on #95
Look at the example at #101, the same technique is possible for adding multiple levels.

Using the YAML input type:
[code]

Using the XML input type:
[code]

If you're happy with these examples, please close this issue :-)

[2017-05-10 07:13] Chris-YBS commented on #99
Thanks @dagwieers

[2017-05-10 07:13] #99 closed

[2017-05-18 09:05] hammersoft opened #110 ""ensure: present" command does not work poperly"
Hi!
I am using this xml

[code]

and next ansible task:
[code]
According to documentation

expecting to add node <role rolename="manager-script"/> into xml file.
Task reporting all ok, but no new nodes added.

With **ensure: absent** works fine: only specified node `<role rolename="manager"/>` is gone.

Is this behaviour correct or this is error?

[2017-05-18 15:21] yogeshVU opened #111 "error: path unsupported parameter"
Following is my ansible task:

[code]

[code]

[2017-05-18 15:40] dagwieers commented on #111
Update your module. Or use the old parameter `file`.

[2017-05-18 15:44] yogeshVU commented on #111
Using file worked. I directly installed the module from the ansible-galaxy an hour back. So iam assuming it is the latest?

[2017-05-18 15:55] dagwieers commented on #111
I doubt it, the latest is in the master branch. Galaxy has the latest release version. And this recently changed, including the documentation. The new version is backward compatible, but the old version is not forward-compatible obviously.

[2017-06-02 08:30] berenddeschouwer commented on #104
Duplicate of #15

[2017-06-02 09:54] JSGUYOT opened #112 "xpath does not reference a node on XML with long attributes ?"
Hi,

I have a problem for get value from XML file when file has long attributes on xpath.
If i delete attribute for LogonResponse and W-API-Session, it's work, but with, it not work.

**My XML file**

[code]

**My tasks in ansible**

[code]
**Error output :**

I do not know if this is a bug or not or a misunderstanding on my part ...

Can you help me ?

Regards,

[2017-06-02 13:45] sm4rk0 commented on #112
Hi JS,

This is not a bug. The XML is has a namespace (xmlns attribute) that is implicitely applied to all elements, so you should add "namespaces" parameter and use the key (`ns` in example below) in XPath, like this:
[code]

[2017-06-02 13:47] sm4rk0 commented on #112
BTW, is there a reason for not using `file: /tmp/test.xml` instead of `xmlstring: "{{ lookup('file', '/tmp/test.xml') }}"`?

[2017-06-02 13:51] dagwieers commented on #112
We should definitely add a note to the docs referencing namespace-related issues. And ensure the default examples have an example. (There are not examples currently, see #108 )

[2017-06-02 14:47] dagwieers commented on #52
Can we get #108 and #109 merged ?

And speed up the upstreaming effort so that we can get wider testing *and* can add automated integration tests to test correctness.

I don't mind upstreaming it myself if resources are scarce... Feedback please.

[2017-06-02 14:52] JSGUYOT commented on #112
@dagwieers :
Thank's a lot :) it's work.
But i would like just have X-API-Session value in my register, actually, ns is present in output

**My task :**
[code]

**My output :**
[code]
I have to find out how to filter this ...

@sm4rk0 :
no reason, just for test for see if it's work better with xmlstrings ;).
Now i use xmlstrings with a variable

[2017-06-02 14:53] gitmlynch commented on #91
This module is working really nicely for me for some jenkins configuration,(appreciation to @cmprescott), but the idempotency issue is a real bummer.

[2017-06-02 15:37] dagwieers opened #113 "Relicense xml module as GPLv2 or later (including GPLv3)"
One of the issues holding us back to upstream this module (#52, ansible/ansible#25323), is the fact that it currently is strictly licensed as GPLv2-only while upstream modules need to be licensed as GPLv3.

So we need everyone that made contributions to the xml module to explicitly allow for relicensing their contributions to the xml module to GPLv2 or later. *The statement asks for "GPLv2 or late

[2017-06-02 15:37] dagwieers commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public Licence, version 2 or later.

[2017-06-02 15:47] cchepelov commented on #113
Hi Dag,

thanks for carrying this!

Of course, I hereby grant permission to license my contributions to the
ansible-xml module under the GNU General Public Licence, version 2 or later.
||
||

|-- Cyrille |

[2017-06-02 16:21] agx commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-06-02 17:08] greaber commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-06-02 17:55] dekimsey commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-06-02 18:32] tbielawa commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public Licence, version 2 or later, including GPLv3.

[2017-06-02 21:02] beeme1mr commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-06-03 07:13] puzan commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-06-05 18:04] h0nIg commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public Licence, version 2 or later, including GPLv3.

[2017-06-05 19:21] dagwieers commented on #113
One friendly nudge to @magnus919 @h0nIg @cmprescott@relaxnow @quetzai @drkn @martinboy
Please respond with no delay whether you agree to relicense your contributions to the Ansible xml module.

[2017-06-06 15:39] quetzai commented on #113
Hi, sorry for the delay,
I hereby grant permission to license my contributions to the ansible-xml
module under the GNU General Public License, version 2 or later, including
GPLv3.

On Jun 2, 2017 11:47, "Cyrille Chépélov" <notifications@github.com> wrote:

Hi Dag,

thanks for carrying this!

Of course, I hereby grant permission to license my contributions to the
ansible-xml module under the GNU Ge

[2017-06-07 11:57] dagwieers commented on #113
We are *very* close to upstreaming this module, we only need 5 more people (out of 15)  to approve this.

Friendly reminder to: @magnus919 @cmprescott @relaxnow @drkn @martinboy
Please respond ASAP whether you agree to relicense your contributions to ansible-xml as GPLv2+.

Everything else is prepared, CI environment, integration tests, required cleanup, ...

[2017-06-07 12:00] dagwieers commented on #111
@yogeshVU Can you close this ticket ?

[2017-06-07 12:18] dagwieers commented on #95
@sradi Please provide feedback and/or close this issue.

[2017-06-07 13:21] dagwieers opened #114 "'_ElementStringResult' object has no attribute 'attrname'"
When running the integration tests from this project on the Ansible CI framwork on CentOS-6 (with native lxml v2.2.3) we get the following error:

    Couldn't delete xpath target: /business/rating/@subjective ('_ElementStringResult' object has no attribute 'attrname')

Here is the detailed output:

[code]

[2017-06-07 13:25] dagwieers opened #115 "Older lxml versions have no predictable element attribute order"
So it appears that the tests in this module expect a predictable element attribute order, which is only added since lxml v3.0alpha1. For example CentOS-6 natively ships with lxml v2.2.3.

For the effort of upstreaming this module, we opted to filter out these tests when the lxml version is not greater or equal to 3. The module still works fine, we simply are not comparing as smart as we should.

[2017-06-07 13:30] dagwieers opened #116 "Fails on python3 due to unicode-related errors"
During the effort of upstreaming this module, we found that the module fails on Python 3 due to unicode-related problems.

[code]

[2017-06-07 14:33] relaxnow commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-06-07 17:32] KAMI911 opened #117 "How to create multiple nodes?"
Hi,

This is a support question (or feature request), rather than error report but how can I create structure like:

I have tried several ideas from with_items lists to add_children, but I was not able to crate such structure. I am using latest Ansible with latest xml library that is available here.

Thank you in advance!

[2017-06-08 08:32] sm4rk0 commented on #117
Is this what you want to achieve?
[code]
Content of test.xml before running the play:
[code]
Content of test.xml after running the play (manually reformatted):
[code]

[2017-06-08 12:54] KAMI911 commented on #117
Hi,
Thank you for the quick answer. That is what I wanted, however I hit a problem during I built this into my scripts.

I got OK from the task but the file is not changed. I am using it to modify web.xml of Tomcat, but nothing happen. Code is here:
https://github.com/KAMI911/ansible-role-tomcat/blob/cce54f2979c9d2c41080e142df6e20e52d56d83b/tasks/custom-errorpages-tomcat.yml
Variables from here:
h

[2017-06-08 13:06] sm4rk0 commented on #117
As I suspected, the problem is due to XML namespaces. You need to specify the namespaces argument to the `xml` module and use that namespace in `xpath` argument if there is an xmlns attribute in XML:
[code]
So, add this argument:
[code]
and use this value for `xpath` argument:
[code]

[2017-06-08 13:16] sm4rk0 opened #118 "Feature idea: Add 'namespace catch' in issue_template.md"
A lot of issues are being open due to lack of documentation and due to missing namespaces argument. A note within the issue template about how the namespaces should be handled would help both the users and contributors until the module is upstreamed.
https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2017-06-08 13:22] sm4rk0 commented on #102
No, it's not a bug but a feature.
Please check the answers to #107, #112 and #117.

[2017-06-08 13:24] sm4rk0 commented on #118
So far, I identified these issues caused by this misunderstanding: #102, #107, #112 and #117.

[2017-06-08 13:41] KAMI911 commented on #117
Thank you Sir!
I did not realized... :/ It is working perfectly. Probably a link from a README.md to test may help newcomers how to use this feature.

[2017-06-08 13:55] KAMI911 commented on #117
I have only one problem: it is always update the xml file, so if I run twice it adds all element twice :/

[2017-06-08 14:10] sm4rk0 commented on #117
Yes, that's known issue. See #7, #35 and #42.
I've proposed adding an issue template about the namespace catch. Lack of documentation should be resolved soon because the module is being added to "ansible core".

[2017-06-08 14:19] dagwieers commented on #118
I like it, but if we are moving this Ansible module upstream, this point is moot.
It would help if the documentation regarding namespaces is more clear.

The upstream module has examples and a note added to the documentation.

[2017-06-09 11:01] magnus919 commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-06-13 18:58] sradi commented on #95
Thanks for the help. That looks helpful! :)

[2017-06-13 18:58] #95 closed

[2017-06-14 06:02] 512868516 opened #119 "xpath is not a legal parameter in an Ansible task or handler"
[code]

my workspace tree like

[code]

my code:
[code]

[code]

[2017-06-14 07:08] #119 closed

[2017-06-14 08:01] sm4rk0 commented on #119
I hope you realized that the problem was (at least) due to missing indentation for xml module arguments (file, xpath, value). Just commenting for those who come here by searching the same error.

[2017-06-14 12:45] dagwieers commented on #113
We are still *very close* to upstreaming this module, we only need 3 more people (out of 15)  to approve this.

Friendly reminder to: @cmprescott @drkn @martinboy
Please, please, please respond ASAP whether you agree to relicense your contributions to ansible-xml as GPLv2+.

Everything else is prepared, CI environment, integration tests, required cleanup, ... https://github.com/ansible/ansible/pul

[2017-06-19 20:21] dagwieers commented on #113
We are now close to 3 weeks into this relicensing dance, and we are still waiting for @cmprescott @drkn and @martinboy to respond on whether they agree to relicense their contributions to ansible-xml as GPLv2+.

**Please answer your personal email from me, or reply in this Github issue ticket.**

PS @cmprescott without your support there's little hope for closing existing tickets and moving things

[2017-06-23 01:06] ksylvan commented on #113
Repeating the above plea. This module is super useful and should be in upstream.

Friendly reminder to: @cmprescott @drkn @martinboy
Please, please, please respond ASAP.

[2017-07-17 02:01] dagwieers commented on #113
We are still waiting for feedback from @cmprescott @drkn @martinboy

45 days and counting...
*Please respond ASAP !*

[2017-07-17 14:49] ksylvan commented on #113
I left @cmprescott a message here: http://chrisprescott.beer/about/#comment-3077

[2017-07-17 16:36] cmprescott commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-07-17 16:38] #74 closed

[2017-07-17 16:38] #112 closed

[2017-07-17 16:40] #75 closed

[2017-07-17 22:39] drkn commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-07-17 22:43] ksylvan commented on #113
Okay, now if @martinboy can do it, we are good to go! 👍

[2017-07-19 06:37] martinboy commented on #113
I hereby grant permission to license my contributions to the ansible-xml module under the GNU General Public License, version 2 or later, including GPLv3.

[2017-07-19 08:49] dagwieers commented on #113
We can still make Ansible v2.4.
Thanks everybody !

[2017-07-19 08:50] #113 closed

[2017-07-19 09:15] dagwieers commented on #73
Re-license is done. This can be closed.

[2017-07-19 16:37] #73 closed

[2017-07-19 16:41] macdiesel commented on #73
Thank you all!

[2017-07-19 22:43] ksylvan commented on #113
Awesome!

[2017-07-23 05:45] ksylvan commented on #52
Looks like this is proceeding nicely. This is the latest work, correct? https://github.com/ansible/ansible/pull/25323

[2017-07-23 22:29] dagwieers commented on #52
Yes. So we prefer not to have any new PRs on this repository before this is merged.
Once merged I would like to move all feature requests and (valid) bug reports to the ansible/ansible repository. This will take some time to validate and possible fix the reported issues.

Still looking for people willing to help maintain the xml module upstream.

[2017-08-06 21:00] dagwieers commented on #114
So the Ansible xml module requires at least lxml v2.3.0 for supporting the attrname attribute.

[2017-08-09 09:57] dagwieers commented on #113
The module has been merged upstream so it will ship in v2.4. Thanks everybody !

Next up: (1) going over all open issues and closing/fixing them, and (2) adding backup/diff support.

PS I am still looking for people interested in helping maintain the xml module going forward. If you depend on this module and you are willing to help answer issues and PRs, and improving this module, speak up now ! T

[2017-08-09 10:56] dagwieers commented on #118
The xml module is upstream now. Please close this issue, or open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 10:57] dagwieers commented on #117
The xml module is upstream now.

I am interested in improvements to the documentation upstream. You can open a PR with specific suggestions and we'll get them merged.

Please close this issue, or if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 10:58] dagwieers commented on #116
This is now fixed in the upstreamed module.

[2017-08-09 10:58] #116 closed

[2017-08-09 10:58] dagwieers commented on #115
This is now fixed in the upstreamed module.

[2017-08-09 10:58] #115 closed

[2017-08-09 10:58] dagwieers commented on #114
This is now fixed in the upstreamed module. (A proper error message is returned)

[2017-08-09 10:58] #114 closed

[2017-08-09 10:59] dagwieers commented on #111
The xml module is upstream now. Please close this issue, or if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:01] dagwieers commented on #110
The xml module is upstream now. Please close this issue, or if needed, test your issue with the new upstream module and open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:02] dagwieers commented on #104
The xml module is upstream now. Please close this issue, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:02] dagwieers commented on #103
The xml module is upstream now. Please close this issue, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:02] dagwieers commented on #102
The xml module is upstream now. Please close this issue, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:02] dagwieers commented on #101
The xml module is upstream now. Please close this issue, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:03] dagwieers commented on #96
The xml module is upstream now. Please close this issue, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:04] dagwieers commented on #94
This issue was moved to ansible/ansible#27949

[2017-08-09 11:04] #94 closed

[2017-08-09 11:07] dagwieers commented on #91
I think I nailed this bug now when upstreaming the xml module. If this would still be an issue to someone, please open a new issue at: https://github.com/ansible/ansible

[2017-08-09 11:07] #91 closed

[2017-08-09 11:08] dagwieers commented on #90
This has been changed in the upstreamed xml module, now a proper error is returned with an "exception" return value including the traceback.

In case anyone still gets a traceback from the upstreamed xml module, please open an issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:08] #90 closed

[2017-08-09 11:11] dagwieers commented on #93
It appears a problem with the example and not an actual bug. Please close this issue.

In case you do find a problem with the xml module, please try the upstream xml module (in Ansible v2.4) and if needed, open an issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:14] #111 closed

[2017-08-09 11:18] dagwieers commented on #84
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:18] dagwieers commented on #83
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:18] dagwieers commented on #70
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:19] dagwieers commented on #68
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:19] dagwieers commented on #63
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:21] dagwieers commented on #59
This issue was moved to ansible/ansible#27951

[2017-08-09 11:25] dagwieers commented on #59
*Please close this issue.*

[2017-08-09 11:27] dagwieers commented on #55
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:27] dagwieers commented on #53
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:30] dagwieers commented on #52
The xml module is upstream now (and ships with Ansible v2.4).

Anyone interested in helping to maintain this module upstream is welcome. We need a few people in order to be able to work independently on this module (with the existing review-process you need 2 shipits from maintainers to get stuff merged). Ideally we have about 5 to 6 people maintaining it. So please speak up !

**Please close this

[2017-08-09 11:30] dagwieers commented on #43
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:30] dagwieers commented on #41
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:30] dagwieers commented on #40
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:31] dagwieers commented on #39
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:31] dagwieers commented on #29
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:31] dagwieers commented on #15
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:32] dagwieers commented on #14
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:32] dagwieers commented on #7
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-09 11:48] mss commented on #63
This is fixed in the version which is shipped with Ansible v2.4.

Tested with the XML file from the initial report and following playbook:
[code]

[2017-08-09 11:48] #63 closed

[2017-08-09 11:49] dagwieers commented on #63
Thanks for reporting back !

[2017-08-09 11:50] dagwieers commented on #89
This issue was moved to ansible/ansible#27952

[2017-08-09 11:50] #89 closed

[2017-08-09 11:50] stncrn commented on #101
Understood. Nice to see this module shipped within Ansible !

[2017-08-09 11:50] #101 closed

[2017-08-09 11:53] tbielawa commented on #113
This is awesome!

[2017-08-09 11:57] #41 closed

[2017-08-09 16:03] sm4rk0 commented on #118
I agree. Except the examples (no namespace usage there). I'll make a PR with few examples with namespaces when I find some time.

[2017-08-09 16:03] #118 closed

[2017-08-09 20:58] dagwieers commented on #118
@sm4rk0 You are right, I think they got lost when I started from the original code (and added the various commits) when upstreaming.

PS If you want to help with maintaining this module, I am looking for people that can help respond to issues, review PRs and help improve the module. Let me know if you're interested !

[2017-08-10 01:29] dagwieers commented on #118
@sm4rk0 I add your task to a new community page: https://github.com/ansible/community/wiki/Module:-xml

This is an experiment to see if we can create small loose-tight communities around modules. Feel free to add other TODO items to that list.

[2017-08-10 07:32] sm4rk0 commented on #118
@dagwieers I'm in.
Regarding namespace examples: there are a lot of them in [tests](https://github.com/ansible/ansible/tree/devel/test/integration/targets/xml/tasks). Maybe that's why you thought they were added to docs. I'll pick few test cases as representative examples for docs.

[2017-08-10 09:49] sm4rk0 commented on #84
I reproduced this issue with ansible devel and lxml 3.8.0
@deyanstoykov Would you please copy this issue over to ansible/ansible?

[2017-08-10 10:02] sm4rk0 commented on #84
Just checked. The cause is within etree.tostring() from lxml and it's not a bug, but a feature:
http://lxml.de/FAQ.html#why-doesn-t-the-pretty-print-option-reformat-my-xml-output
I propose closing this issue.

[2017-08-10 10:08] dagwieers commented on #84
I would like to start listing caveats with the xml module. We can start compiling a list on the Wiki, then move the important items to the notes of the module documentation.

[2017-08-10 15:12] dagwieers commented on #118
@sm4rk0 You're a maintainer now ! Welcome :-)

[2017-08-13 00:28] sm4rk0 commented on #117
@KAMI911, would you please close this issue?

[2017-08-14 14:44] #52 closed

[2017-08-14 22:30] #102 closed

[2017-08-14 22:31] #93 closed

[2017-08-14 22:31] #104 closed

[2017-08-14 22:32] #117 closed

[2017-08-14 22:32] #59 closed

[2017-08-14 22:52] sm4rk0 commented on #84
This behaviour is noted [here](https://github.com/ansible/community/wiki/Module:-xml), so this issue now can be closed.

[2017-08-14 22:52] #84 closed

[2017-08-14 23:12] dagwieers commented on #103
This issue was moved to ansible/ansible#28193

[2017-08-14 23:12] #103 closed

[2017-08-14 23:16] dagwieers commented on #110
This issue was moved to ansible/ansible#28194

[2017-08-14 23:16] #110 closed

[2017-08-14 23:36] dagwieers commented on #40
This issue was moved to ansible/ansible#28195

[2017-08-14 23:36] #40 closed

[2017-08-15 15:46] MiguelHigorre opened #121 "winrm send_input failed"
Environment
Ubuntu 14.04
ansible 2.3.2.0
python version 2.7.6
pywinrm (0.2.2)
Windows 2012 R2

yml example
xml:
        path: 'Path/to/file'
        xpath: /configuration/appSettings
        value: 'localhost:443

Expected
XML file should be updated

Actual
[WARNING]: FATAL ERROR DURING FILE TRANSFER: Traceback (most recent call last):   File
"/usr/lib/python2.7/dist-packages/ansible/plugins/conne

[2017-08-15 16:17] cmprescott opened #122 "Out-of sync with upstream"
TODO:

1. Merge upstream (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/xml.py)
2. Update documentation
3. Tag as 1.0.0 release

[2017-08-16 12:59] florianschwanz opened #123 "No idempotency when combining namespace and set_children"
When combining _namespaces_ and _set_children_ attributes file modification works fine but the changed status is _changed_ even if no elements are actually modified.

[code]
I created a [test case](https://github.com/atosorigin/ansible-xml/blob/set-namespaced-children/tests/test-set-namespaced-children-elements.yml) for that by combing [test-set-children-elements](https://github.com/cmprescott/ans

[2017-08-16 14:37] sm4rk0 opened #124 "Do we need an "issue template""
...that would direct issue reporters to ansible/ansible?
https://help.github.com/articles/creating-an-issue-template-for-your-repository/

Or [disabling issues](https://help.github.com/articles/disabling-issues/) at all?

[2017-08-16 14:40] sm4rk0 commented on #121
I'm not 100% sure, but this module isn't supposed to be run on a Windows machine.
@dagwieers or @cmprescott can you confirm?

Anyway, this module has been upstreamed to Ansible. It's currently in devel version, which should be released as 2.4.0 in [Mid-September](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst). As a consequence, all the issues should be repo

[2017-08-16 14:40] #121 closed

[2017-08-16 15:32] ksylvan commented on #123
This module has been upstreamed to Ansible. It's in devel version, to be released as 2.4.0 in Mid-September. All issues should be reported to ansible.

[2017-08-16 15:33] ksylvan commented on #124
Yes. Sounds like a good idea.

[2017-08-17 09:17] dagwieers commented on #121
There is an alternative **win_xml** module available at: https://github.com/ansible/ansible/pull/26404

[2017-08-17 09:21] dagwieers commented on #123
@florianschwanz Could you try the version from Ansible devel branch ? We fixed some things related to idempotency and it might as well be affecting you. Also, beware that you don't have an old lxml version, because older lxml versions are known to have problems because the output is not consistent (so fails to compare).

[2017-08-17 09:23] dagwieers commented on #124
@sm4rk0 This was already discussed with @cmprescott , but since I didn't have your email-address I couldn't put you in cc:. We should have both issue and PR templates stating that the module is upstream and no issues/PRs are being accepted through this project.

We should also update the README in this project, as well as make it clear from the repository title/description.

I wouldn't disable iss

[2017-08-17 14:38] sm4rk0 commented on #124
@dagwieers I've sent you an email.
I didn't know the existing issues would be completely unavailable if disabled.
[issue_template.md](https://github.com/cmprescott/ansible-xml/blob/master/.github/issue_template.md) and [pull_request_template.md](https://github.com/cmprescott/ansible-xml/blob/master/.github/pull_request_template.md) have been created. Feel free to correct them. I hope it's not a pr

[2017-08-17 14:42] dagwieers commented on #124
@sm4rk0 Looking good. We can close that issue and strike the topic on the action list. Thanks !

[2017-08-17 15:07] #124 closed

[2017-08-18 19:16] #122 closed

[2017-08-19 00:46] dagwieers commented on #124
Thanks, I am happy how quick things are moving now. Great to see this.

[2017-08-22 23:04] dagwieers commented on #53
Since this seems to be related to namespace-issues, I am going to close this issue. Feel free to reopen upstream.

[2017-08-22 23:04] #53 closed

[2017-08-22 23:05] dagwieers commented on #55
This issue was moved to ansible/ansible#28539

[2017-08-22 23:05] #55 closed

[2017-08-22 23:14] dagwieers commented on #83
Right so, this seems to be yet another namespace-related issue. So it's important in XML to namespace everything that requires it.

[2017-08-22 23:14] #83 closed

[2017-08-24 06:24] dagwieers commented on #55
This problem is reported as solved in Ansible v2.4. See: https://github.com/ansible/ansible/issues/28539

[2017-08-24 09:54] dagwieers commented on #68
I can confirm this problem, albeit the message has greatly improved. But we can make it even better.

Currently I get a clearer error, but too much noise. The backtrace is unneeded here.
[code]

[2017-08-24 10:49] dagwieers commented on #68
Ok, so I looked into this and made a change so that now we parse and evaluate the xpath expression by default (when provided). I am not sure if this related to your problem, but without the XML file you used, I am unable to reproduce your issue. So I am closing this issue, but feel free to send me that XML file to reproduce this issue.

[2017-08-24 10:49] #68 closed

[2017-08-25 00:10] dagwieers commented on #123
@florianschwanz Can you please try the latest version from the Ansible devel branch ? I am confident this is now fixed, but I would like you to check. I integrated your test case too.

I am going to close this, feel free to open it if you have any issues.

[2017-08-25 00:10] #123 closed

[2017-08-25 00:12] dagwieers commented on #39
@cmprescott Can you update the documentation ? Because I don't understand the case you want to describe.

Thanks !

[2017-08-25 00:17] dagwieers commented on #14
I would need to have the content of the XML file in order to test what you're doing.

[2017-08-25 12:48] dagwieers commented on #15
@Hubbitus Are you willing to create a PR for this at: https://github.com/ansible/ansible ?

I just verified the same thing. This does not work:
[code]

But this works fine:
[code]

[2017-08-25 12:53] dagwieers commented on #7
This is working fine for me with the upstreamed version in Ansible v2.4:
[code]

[2017-08-25 12:53] dagwieers commented on #7
So I am going to close this issue, let us now if you have any (new) issues at: https://github.com/ansible/ansible/issues

[2017-08-25 12:53] #7 closed

[2017-08-25 12:56] dagwieers commented on #70
Yeah, so this is going to be hard to do unless we would hook output-rules to lxml somehow. But you would need to codify the different style-rules the output should consist of. Not sure if lxml can do it, and which ones we would implement, but I am open to add it.

[2017-08-25 13:42] dagwieers commented on #29
I cannot reproduce this. If you can still reproduce this with the xml module from upstream (Ansible v2.4), please open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-25 13:42] #29 closed

[2017-08-25 13:44] dagwieers commented on #15
I have updated the documentation. Setting attribute values using xpath only would be very useful, but is a feature request. We are welcoming anyone who can do this.

[2017-08-25 13:44] #15 closed

[2017-08-26 22:13] #96 closed

[2017-08-27 11:50] dagwieers commented on #103
This works fine for me:
[code]

[2017-08-29 18:58] cmprescott commented on #39
Closing this because I cannot remember what documentation/example I intended to end. I don't think this is a good example if I cannot follow 1.5 years later.

[2017-08-29 18:58] #39 closed

[2017-08-29 18:59] cmprescott commented on #14
Closing issue since hasn't been addressed in 2 years.

[2017-08-29 18:59] #14 closed

[2017-09-01 12:04] dagwieers commented on #70
This issue was moved to ansible/ansible#28920

[2017-09-01 12:04] #70 closed

[2017-09-01 12:05] dagwieers commented on #43
This issue was moved to ansible/ansible#28921

[2017-09-01 12:05] #43 closed

[2017-11-06 06:08] emailashwini opened #126 "comprescott.xm fails with centos user"
Hi,
I have included the comprescott.xml in my roles

The script runs successfully as a root user but when i try to execute as centos user it gives me
 ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.

The error appears to have been in '/tmp/test.yml': line 10, column 7, but may
be elsewhere in the file depending on the exact syntax problem

[2017-11-06 08:38] dagwieers commented on #126
This repository is not a role, but an **xml** module. This **xml** module is now upstream in Ansible v2.4.
If you need support with Ansible or the xml module, please use the Ansible forum or IRC channel.

https://www.ansible.com/community

PS If you want help with a playbook, it helps to include that playbook.

[2017-11-06 08:38] #126 closed

[2017-11-16 09:08] emailashwini opened #127 "deliverable package"
I have ansible 2.3 and i was successful in installing but if i want to make this library available within a local repository having no internet connection. How can I achieve this ? is there a rpm deliverable available ?

Thanks,

[2017-11-16 10:08] sm4rk0 commented on #127
This is a module, not a library, although it's only one file (xml.py) that sits in a directory named library. You can get it by:
1. [installing](https://docs.ansible.com/ansible/latest/intro_installation.html) ansible v2.4 or higher (as it is now part of Ansible)
2. copying the [xml.py](https://github.com/cmprescott/ansible-xml/blob/master/library/xml.py) to the default Ansible library directory
3

[2017-11-16 11:50] dagwieers commented on #127
@sm4rk0 Possibly, I don't remember if we do something that requires v2.4, and I can't remember what changed to the module interface in v2.4 either. Probably best to test.

[2018-02-07 02:22] dagwieers commented on #127
I am closing this issue as we are approaching v2.5 and this module is upstream since v2.4.

[2018-02-07 02:22] #127 closed

[2018-04-23 13:54] tapvirvirk opened #128 "Update "xml:base" attribute"
I have a xml containing xml:base attribute. I'm trying to update the attribute but ansible is failing.
Below is the short sample of the example.

`<?xml version='1.0' encoding='utf-8' ?>
<workbook xml:base='https://test.com'>
</workbook>`

[2018-04-23 13:55] tapvirvirk commented on #128
Error is
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'xml'
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_aFoMv2/ansible_module_xml.py\", line 853, in <module>\n    main()\n  File \"/tmp/ansible_aFoMv2/ansible_module_xml.py\", line 839, in ma

[2018-04-23 14:08] tapvirvirk commented on #128
`- name: "Modify xml:base attribute"
  xml:
    path: /opt/tableau/output/test_2.twb
    xpath: /workbook
    attribute: "xml:base"
    pretty_print: yes
    value: 'http://localhost'`

[2018-04-23 14:09] tapvirvirk commented on #128
I would really appreciate if you could help in resolving the issue

[2018-04-23 16:54] dagwieers commented on #128
You have not specified what the "xml" namespace is about. Please look at the notes in the documentation: https://docs.ansible.com/ansible/2.5/modules/xml_module.html#notes especially related to namespaces.

Please re-open this issue at https://github.com/ansible/ansible if that error still is shown on Ansible v2.4 or Ansible v2.5.

[2018-04-23 16:54] #128 closed

[2018-07-25 14:47] agarwalayush2909 opened #129 "Convert xml file to yaml file using java"
Thank you for your effort to improve this module!

The xml module is upstream now and ships with Ansible v2.4 which is to be released in mid-September:
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst

Please try running ansible from source:
http://docs.ansible.com/ansible/intro_installation.html#running-from-source
and see if the issue is already fixed.

Note

[2018-08-01 08:10] juanvalino commented on #101
Hello,

Would be nice to include this examples in the official module documentation shipped with ansible. I reached this solution because I have the same problem and the solution seems not to be documented.

Thanks.

[2018-08-08 21:10] dagwieers commented on #101
@juanvalino If we would include all the examples, it's like looking for the needle in the haystack :-(

If you look at the xml module integration tests, you can see what I mean.
https://github.com/ansible/ansible/tree/devel/test/integration/targets/xml/tasks
Maybe we ought to add this link to the xml module docs ?

Feel free to propose a PR with the change to the documentation you would prefer. Yo

[2019-01-04 16:39] UnitedMarsupials commented on #95
@dagwieers' examples are wonderful -- and did help me finish my project -- but why is not there anything of the kind in the [xml-module's official documentation](https://docs.ansible.com/ansible/2.4/xml_module.html)? All of the examples _there_ show merely, how to set individual values...

[2019-01-04 19:15] dagwieers commented on #95
@UnitedMarsupials I think we didn't add all examples from the integration tests because there would be too many examples in the module's documentation. But maybe we should add a section in the Ansible documentation related to the xml module functionality ?

If you think this is something you'd like to contribute, let me know.

[2019-01-04 22:21] dagwieers commented on #95
I added a TODO item on the community wiki with links to the original README and the integration tests: https://github.com/ansible/community/wiki/Module:-xml#todo

[2019-01-04 23:02] #129 closed

[2019-02-12 09:04] frsauvage opened #130 "Get entire xml node"
Hi,
I may miss something obvious.
I need all a node inside a hierarchy to register items.

I have a file:
`
<TS>
  <TS_LIST>
    <TS_ITEM>
      <ID>1</ID>
      <NAME>A NAME</NAME>
      <VERSION>A VERSION</VERSION>
    </TS_ITEM>
    <TS_ITEM>
      <ID>2</ID>
      <NAME>ANOTHER NAME</NAME>
      <VERSION>ANOTEHER VERSION</VERSION>
    </TS_ITEM>
  </TS_LIST>
</TS>
`

In my ansible file, I trie

[2019-04-10 17:28] mathieurousseau opened #131 "add_children before other element"
`<root>
 <b></b>
 <c></c>
</root>
`
I want to add a children <a> before <b>

[2019-04-11 14:07] sm4rk0 commented on #131
Thank you for your effort to improve this module!

The xml module is upstream now and ships with Ansible since v2.4 (September 2017):
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst

The feature you're talking about is added in v2.8 (not yet released).
If you want to try it before v2.8 is released, you can try running ansible from source:
https://docs.ansible

[2019-04-11 14:07] #131 closed

[2019-04-11 14:13] mathieurousseau commented on #131
Thanks a lot!
I expect ansible 2.8 to take a long time to reach our internal infra though :-(

[2019-04-11 14:32] sm4rk0 commented on #130
Hi,

Thank you for your effort to improve this module!

The xml module is upstream now and ships with Ansible since v2.4 (September 2017):
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst

The feature you need is not implemented (yet?).

If you would like to create a feature request, you should use:
https://github.com/ansible/ansible/issues/new/choose

Cheers,

[2019-04-11 14:32] #130 closed

[2019-04-11 16:25] mathieurousseau commented on #131
I am trying to work around that doing:
- getting /root/* and storing into children_var
- removing /root/*
- adding a to /root
- adding back children_var to /root

unfortunately I was not able to make it work.
- with content: text, I only get the text (not the subelements)
- with content: attribute, I get attribute representation but then add_children does not access that as a parameter

[2019-04-11 17:12] dagwieers commented on #131
@mathieurousseau You can always put an improved version in your *./library/* directory until your fixes ship in a release that you *can* use. Also the version in this repository did not receive any of the improvements/fixes that the version in Ansible does have.

Also, Ansible v2.8 is set in stone now, so any new functionality will only ship with Ansible v2.9.

[2019-04-12 08:46] sm4rk0 commented on #131
@mathieurousseau the workaround not working is related to #130
But I suggest using new module features/parameters `insertbefore` and `insertafter`.
As @dagwieers said, if Ansible upgrade is not possible you can copy xml.py from v2.8 to your local `library` dir. Note that the module would probably have to be modified because it comes from a newer Ansible version and there could be some changes in [

[2019-05-14 14:45] Lenin598 commented on #112
Hello, can you help me please, what will be the expresion xpath for access to the attribute jndi-name

[code]

Thank you all.

[2019-05-16 14:57] sm4rk0 commented on #112
@Lenin598, This module is now part of Ansible. Please don't use an old, closed issue at an unmaintained project to ask general support questions. Your problem seems [related to the namespaces](https://github.com/ansible/ansible/issues/29078#issuecomment-327814425).

[#ansible IRC chat channel at irc.freenode.net](https://webchat.freenode.net/?channels=#ansible), [existing issues](https://github.co

[2019-05-16 15:05] sm4rk0 opened #132 "Make this repo readonly?"
From time to time, people are creating issues here while they should be filed at Ansible repo.
Is there any reason to leave this repo RW?

[2019-05-16 17:39] cmprescott commented on #132
I agree. I am right in thinking I should use the "Archive this Repository" option?

![image](https://user-images.githubusercontent.com/4502791/57875085-aca9e480-77d7-11e9-8478-d4cd29b2b484.png)

[2019-05-16 19:20] timlnx commented on #132
Archived looks good so long as there is a huge plain and obvious redirect
message at the top of the readme.

On Thu, May 16, 2019, 12:39 PM Chris Prescott <notifications@github.com>
wrote:

[2019-05-21 08:04] Oli67-DevOps opened #133 "Add_children in an XML file is not working"
My mistake I posted twice. Sorry

[2019-05-21 08:06] Oli67-DevOps commented on #133
Hello,

I'm working with Ansible latest version and lxml latest version, I use some add_children in a role with different XML files, but weirdly one is not working.
Indeed, Ansible tells me it's ok, but it's not. The XML "injection" is not set.

The file is an XML with more than 4500 lines, it is provided by an editor of software for a web-app for scheduled/booked room for universities, etc.

The

[2019-05-21 08:19] Oli67-DevOps commented on #133
I close it as mentioned by you I should post the issue in the Ansible repo.

[2019-05-21 08:19] #133 closed, assigned to nobody

[2019-05-24 17:15] mathieurousseau commented on #131
Thanks all for the feedback.

I as foresaw 2.8 is not in the short term around here.

I made it work but I had to use external script to extract the elements, then adding what I wanted to then add it back again. works but ugly, waiting for 2.8 to hit us.

BTW do you know if it is possible to add/modify values of attributes more than one at a time?

[2019-12-17 08:56] Neii opened #134 "How to assign mulity attribute value in xml node"
in tomcat8.5 server.xml config file i want to add a 'Context' node child of 'Server/Service/Engine/Host', and set the node two attr like  `<Context path="" docBase="/opt/app/xxx">` in my yaml i try this
 `xml:
        path: /opt/apache-tomcat-{{tomcat_version}}/conf/server.xml
        xpath: Server/Service/Engine/Host/Context
        attribute: path,
        value: ""
`
my question is how to add a

[2022-02-21 22:11] carv3l opened #135 "Ansible: Custom Tag field of a Dictionary. Error: Invalid tag name '}'"
I need to write an xml with parameters not properly set on a certain host, and that certain host may or may not have all parameters set correctly.
I stored the key/value pair of each parameter not properly set on a dictionary.

I'm aiming for something like the following:

    <host>
        <name>LTM_CV_PRO</name>
        <ip>192.168.1.80</ip>
        <policyEnforcement>5</policyEnforcement>